<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fakebook</title>
  </head>
  <body>
    <h1>Welcome to <%= siteName %></h1>
    <p>A brand new way to socialize.</p>
  </body>
</html>
