<h2><%= profileUser.username %></h2>
<div>
  <% if (profileUser.posts.length > 0) { %>
    <% profileUser.posts.forEach(post => { %>
      <%- include("partials/post", { post: post }) %>
    <% }) %>
  <% } else { %>
    <p><%= profileUser.username %> has no posts.</p>
  <% } %>
</div>