<h2><%= profileUser.username %></h2>
<div>
  <% if (profileUser.posts.length > 0) { %>
    <% profileUser.posts.forEach(post => { %>
      <div>
        <small><%= post.createdAt.toLocaleString() %></small>
        <p><%= post.content %></p>
      </div>
    <% }) %>
  <% } else { %>
    <p><%= profileUser.username %> has no posts.</p>
  <% } %>
</div>